{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'title.authentication'|trans }}{% endblock %}

{% block body %}
<div class="container margin-top margin-bottom">
    {% if error is defined and error %}
    <div class="center-block logig-form">
            <div class="alert alert-border alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>{{ error }}</p>
            </div>
        </div>
    {% endif %}
    <div class="center-block logig-form">
        <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <h4 class="section-title no-margin-top">{{ 'page.authentication'|trans }}</h4>
                    {% for owner in hwi_oauth_resource_owners() %}
                        <a href="{{ hwi_oauth_login_url(owner) }}" title="{{ owner|capitalize }}" class="social-icon-ar round {{ owner }}">
                            <i class="fa fa-{{ owner }}"></i>
                        </a>
                    {% endfor %}
                </div>
            {#</div>#}
        </div>
    </div>
</div>
    <div class="margin-top margin-bottom">&nbsp;</div>
    <div class="margin-top margin-bottom">&nbsp;</div>
    <div class="margin-top margin-bottom">&nbsp;</div>
{% endblock body %}
