{% extends 'AppBundle::base.html.twig' %}

{% block main_header %}
    <header class="main-header">
        <div class="container">
            <h3 class="page-title">An Error {{ status_code }} Occurred: {{ exception.message }}</h3>
        </div>
    </header>
{% endblock main_header %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center-block">
                <section class="text-center">
                    <h1>Oops! An Error {{ status_code }} Occurred</h1>
                    <h2>{{ exception.message }}</h2>
                    <p class="lead lead-lg">Something has gone wrong we are trying to fix it.</p>
                </section>
                <section>
                    <form role="form" action="{{ path('app_tasks_search') }}">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <input class="autocomplete form-control input-lg" type="text" name="query" placeholder="Search tasks ...">
                        </div>
                        <div class="results-container"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-ar btn-block btn-lg btn-success">Search</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}