{% extends 'AppBundle::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block main_header %}
<header class="main-header">
    <div class="container">
        <h3 class="page-title">{{ 'form.profile.edit'|trans }}</h3>
    </div>
</header>
{% endblock main_header %}

{% block body %}
    <div class="container">
        <section>
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" role="form"
                  novalidate="novalidate" id="profile-form" autocomplete="off">
                {{ form_widget(form._token) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row( form.username, {'label': 'form.profile.username'|trans} ) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row( form.email, {'label': 'form.profile.email'|trans} ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row( form.firstName, {'label': 'form.profile.first_name'|trans} ) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row( form.lastName, {'label': 'form.profile.last_name'|trans} ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row( form.country, {'label': 'form.profile.country'|trans} ) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row( form.region, {'label': 'form.profile.region'|trans} ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row( form.city, {'label': 'form.profile.city'|trans} ) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row( form.timeZone, {'label': 'form.profile.time_zone'|trans} ) }}
                    </div>
                </div>
                <div>
                    <input type="submit" value="{{ 'form.button.save'|trans }}" class="btn btn-ar btn-primary"/>
                </div>
            </form>
        </section>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/profile.js') }}"></script>
{% endblock %}
