{% extends 'AppBundle::base.html.twig' %}

{% block main_header %}
    <header class="main-header">
        <div class="container">
            <h3 class="page-title">{{ 'page.profile.data'|trans }}</h3>
        </div>
    </header>
{% endblock main_header %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <section>
                    {% if user.profileImage %}
                        <img src="/{{ user.webPath }}" alt="avatar" class="img-responsive imageborder profile-img">
                    {% else %}
                        <img src="holder.js/360x360" alt="avatar" class="img-responsive imageborder">
                    {% endif %}
                </section>
                <section>
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-ar btn-block btn-warning"><i class="fa fa-pencil-square"></i> {{ 'menu.profile_edit'|trans }}</a>
                </section>
            </div>
            <div class="col-md-8">
                <section>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-user"></i> {{ 'page.profile.general_info'|trans }}</div>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>{{ 'page.profile.username'|trans }}</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'page.profile.full_name'|trans }}</th>
                                    <td>{{ user.fullName }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'page.profile.email'|trans }}</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'page.profile.location'|trans }}</th>
                                    <td>{{ user.country }} / {{ user.region }} / {{ user.city }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'page.profile.time_zone'|trans }}</th>
                                    <td>{{ user.timeZone }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <section>
                    <h2 class="section-title">Latest Comments</h2>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h3>List group item heading</h3>
                            <p>Summum eventurum. Cuius facta brute consequatur theophrastus quantaque hortensio priventur fabellas fugiendum, sollicitare voce motu constantia omnes iactant exorsus videtisne. Ponderum illas, intellegam reprimique libro imperii sempiternum renovata retinent aristotele nosmet, quanti simulent totum, declinabunt, loca voluptas protervi iucunditate. Verborum parendum legatis honeste iucunditatis, tradere angatur partis spe motu nullae audiebamus honoris formidines earum, commodi nullae tenebo putat, necessarius dicendum occultarum probamus pleniorem optimum, industria sapientiamque aperiri eae temperantiamque utamur denique ipsas.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h3>List group item heading</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aequo chremes illis obligantur, metrodorus, graviter restincto permulta asperner, umquam. E argumentum fere iustius opes graecam tranquillae, conturbamur insolens imperitorum firmam consequamur quodsi instructior habeat, interesse recusabo pugnantibus horrent quales esset cibo. Quietem ceterorum docendi, fecerit uberius magnum, morbis musicis bestiae contineri quaeritur appetendum inermis vidit opera.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h3>List group item heading</h3>
                            <p>Verbis doctus certe cura quaeso studium effugiendorum, remissius fuga causa mox noster etsi, constituam divina ordinem traditur legendos ficta maximis nobis. Faciunt que involuta perpetuam, mors responsum. Teneam divina intervalla foedus amentur torqueantur ordiamur atomi ibidem laudantium, possim placuit caret permanentes sin, animal potiora domesticarum provident diceretur, utramque graeco timiditatem.</p>
                        </a>
                    </div> <!--list-group -->
                </section>
            </div>
        </div>
    </div>

{% endblock body %}