<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ 'app.name'|trans }}!{% endblock %}</title>
    {% block stylesheets %}
        {% include 'AppBundle:_sections:main-css.html.twig' %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- Preloader -->
<div id="preloader"><div id="status">&nbsp;</div></div>
<div class="place-text top" id="global-loader"><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</div>

<div id="sb-site">
    <div class="boxed">
        {% include 'AppBundle:_sections:header.html.twig' %}
        {% include 'AppBundle:_sections:navbar.html.twig' %}
        {% block body %}{% endblock body %}
        {% include 'AppBundle:_sections:footer.html.twig' %}
    </div>
</div>

{% include 'AppBundle:_sections:sidebar.html.twig' %}

{% block javascripts %}
    {% include 'AppBundle:_sections:main-js.html.twig' %}
    <script src="{{ asset('bundles/app/theme/js/home_full.js') }}"></script>
{% endblock %}
</body>
</html>
