<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'app.name'|trans }}!{% endblock %}</title>
        {% block stylesheets %}
            {% include 'AppBundle:_sections:main-css.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Preloader -->
        <div id="preloader"><div id="status">&nbsp;</div></div>
        <div class="place-text top" id="global-loader"><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</div>

        <div id="sb-site">
            <div class="boxed">
                {% include 'AppBundle:_sections:header.html.twig' %}
                {% include 'AppBundle:_sections:navbar.html.twig' %}
                {% block main_header %}{% endblock main_header %}

                {% include 'AppBundle:_sections:flash-messages.html.twig' %}
                {% block body %}{% endblock body %}

                {% include 'AppBundle:_sections:footer-widget.html.twig' %}
                {% include 'AppBundle:_sections:footer.html.twig' %}
            </div>
        </div>

        {% include 'AppBundle:_sections:sidebar.html.twig' %}

        {#<div class="place-text top" id="global-loader">#}
            {#<i class="notched circle loading icon"></i>Loading...#}
        {#</div>#}

        {#{{ include('AppBundle:Default:top_menu.html.twig') }}#}
        {#<div class="container-fluid main-container">#}
            {#{{ include('AppBundle:Default:flash_messages.html.twig') }}#}

            {#{% block body %}{% endblock %}#}
        {#</div>#}

        {% block javascripts %}
            {% include 'AppBundle:_sections:main-js.html.twig' %}
        {% endblock %}
    </body>
</html>
