<div class="container margin-top">
    {% for type, messages in app.session.flashbag.all() %}
    <div class="alert alert-border alert-{{ type }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul class="list">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>