<header id="header-full-top" class="header-full hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header-full-title">
                    <h1 class="animated fadeInRight"><a href="{{ path('app_main') }}">{{ 'app.name_html'|trans|raw }}</a></h1>
                    <p class="animated fadeInRight">{{ 'app.slogan'|trans }}</p>
                </div>
            </div>

            <div class="col-md-8" style="height: 50px;">
                <nav class="top-nav">
                    {% if not app.user %}
                        <div class="dropdown animated fadeInDown animation-delay-11">
                            <a href="{{ path('hwi_oauth_connect') }}">
                                <i class="fa fa-sign-in"></i> {{ 'menu.authentication'|trans }}
                            </a>
                        </div> <!-- dropdown -->

                        <ul class="top-nav-social hidden-sm">
                            {% for owner in hwi_oauth_resource_owners() %}
                                <li>
                                    <a href="{{ hwi_oauth_login_url(owner) }}" title="{{ owner|capitalize }}" class="animated fadeIn animation-delay-6 {{ owner }}">
                                        <i class="fa fa-{{ owner }}"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="dropdown animated fadeInDown animation-delay-11">
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"></i> {{ 'menu.logout'|trans }}
                            </a>
                        </div> <!-- dropdown -->
                    {% endif %}
                </nav>
            </div>
            <div class="col-md-8">
                <form role="form" action="{{ path('app_tasks_search') }}">
                    <div class="input-group">
                        <input type="text" placeholder="Search tasks ..." name="query" class="autocomplete form-control">
                        <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="submit"><i class="fa fa-search no-margin-right"></i></button>
                        </span>
                    </div>
                    <div class="results-container"></div>
                </form>
            </div>
        </div>
    </div> <!-- container -->
</header>