<link rel="stylesheet" href="{{ asset('bundles/app/vendor/jquery/jquery-ui.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/preload.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/vendor/bootstrap/css/bootstrap.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/yamm.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/bootstrap-switch.min.css') }}"/>

<link rel="stylesheet" href="{{ asset('bundles/app/vendor/font-awesome/css/font-awesome.css') }}"/>

<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/animate.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/slidebars.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/lightbox.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/jquery.bxslider.css') }}"/>

<link rel="stylesheet" href="{{ asset('bundles/app/vendor/select2/css/select2.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/vendor/select2/css/select2-bootstrap.css') }}"/>

<link rel="stylesheet" href="{{ asset('bundles/app/vendor/dropzone/dropzone.css') }}"/>

<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/style-blue.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/width-full.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/app/theme/css/buttons.css') }}"/>

<link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}"/>
