<script src="{{ asset('bundles/app/vendor/jquery/jquery-2.1.3.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/jquery/jquery-ui.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/jquery.cookie.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/bootstrap/js/bootstrap.js') }}"></script>

<script src="{{ asset('bundles/app/theme/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/wow.min.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/slidebars.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/jquery.bxslider.min.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/holder.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/buttons.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/jquery.mixitup.min.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/circles.min.js') }}"></script>

<script src="{{ asset('bundles/app/vendor/jquery-validation/jquery.validate.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/jquery-validation/additional-methods.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/jquery-validation/localization/messages_' ~ app.request.locale ~ '.js') }}"></script>

<script src="{{ asset('bundles/app/vendor/select2/js/select2.js') }}"></script>
{#<script src="{{ asset('bundles/app/vendor/handlebars-v3.0.3.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendor/typeahead.js/typeahead.bundle.js') }}"></script>#}

<script src="{{ asset('bundles/app/vendor/knockout/knockout-3.3.0.js') }}"></script>
<script src="{{ asset('bundles/app/vendor/dropzone/dropzone.js') }}"></script>

<script src="{{ asset('bundles/app/theme/js/app.js') }}"></script>

<script src="{{ asset('bundles/app/js/app.js') }}"></script>
<script src="{{ asset('bundles/app/js/tools.js') }}"></script>
<script src="{{ asset('bundles/app/js/ui.js') }}"></script>
<script src="{{ asset('bundles/app/js/routing.js') }}"></script>
<script src="{{ asset('bundles/app/js/search.js') }}"></script>
