<nav class="navbar navbar-static-top navbar-default navbar-header-full navbar-inverse" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        {#<div class="navbar-header">#}
            {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">#}
                {#<span class="sr-only">Toggle navigation</span>#}
                {#<i class="fa fa-bars"></i>#}
            {#</button>#}
            {#<a class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">{{ 'app.name'|trans }}</a>#}
        {#</div>#}
        <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        {% if app.user %}
        <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
        {%  endif %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">home</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li class="active"><a href="index.html">Option 1: Default</a></li>
                        <li><a href="home_services.html">Option 2: Services</a></li>
                        <li><a href="home_full.html">Option 3: Full Intro</a></li>
                        <li><a href="home_only_full.html">Option 4: Only Full Intro</a></li>
                        <li><a href="home_news.html">Option 5: News</a></li>
                        <li><a href="home_profile.html">Option 6: Professional Profile</a></li>
                        <li role="presentation" class="dropdown-header">Header Options</li>
                        <li><a href="configurator.html">Configurator<span class="label label-success pull-right">New</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">UI Elements</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="has_children">CSS</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="css_typography.html">Typography</a></li>
                                <li><a href="css_headers.html">Headers</a></li>
                                <li><a href="css_dividers.html">Dividers</a></li>
                                <li><a href="css_blockquotes.html">Blockquotes</a></li>
                                <li><a href="css_forms.html">Forms</a></li>
                                <li><a href="css_tables.html">Tables</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            {% if app.user %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('app_tasks') }}"><i class="fa fa-tasks"></i> {{ 'menu.tasks.main'|trans }}</a></li>
                <li><a href="{{ path('app_task_create') }}"><i class="fa fa-plus-square"></i> {{ 'menu.tasks.add'|trans }}</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.tasks.main'|trans }}</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="{{ path('app_tasks') }}"><i class="fa fa-tasks"></i> {{ 'menu.tasks.main'|trans }}</a></li>
                        <li><a href="{{ path('app_task_create') }}"><i class="fa fa-plus-square"></i> {{ 'menu.tasks.add'|trans }}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.profile'|trans }}</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> {{ 'menu.profile'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil-square"></i> {{ 'menu.profile_edit'|trans }}</a>
                        </li>
                        <li>
                            <a><i class="fa fa-cog"></i> {{ 'menu.config'|trans }}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'menu.logout'|trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>