<article class="task-short-item animated fadeInLeft animation-delay-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row post-title">
                <div class="pull-left">
                    <a href="{{ path( 'app_task_view', {'slug' : task.slug} ) }}" class="">{{ task.title }}</a>
                    <small>
                        (<a href="{{ path( 'app_tasks_by_country', {'slug' : task.country.slug} ) }}" class="">{{ task.country }}</a>
                        /
                        <a href="{{ path( 'app_tasks_by_city', {'slug' : task.city.slug} ) }}" class="">{{ task.city }}</a>)
                    </small>
                </div>
                <div class="pull-right budget"><i class="fa fa-money"></i> {{ task.budget }} {{ task.currency }}</div>
            </div>
            <div class="row content">
                <div class="col-lg-8 post-content">
                    {{ task.description|nl2br }}
                </div>
                {% if not task.files.empty %}
                    <div class="col-lg-4 images">
                        {% for file in task.files %}
                            <a class="pull-right" href="{{ path( 'app_task_view', {'slug' : task.slug} ) }}">
                                <img src="{{ file.dataUrlImage }}" class="img-post img-responsive" alt="Image">
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="panel-footer post-info-b">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <i class="fa fa-calendar"></i><span class="task-label">Started:</span><span class="text">{{ task.createdAt|localizeddate('medium', 'none') }}</span>
                    <i class="fa fa-user"> </i><span class="task-label">Owner:</span>
                    <a href="{{ path( 'app_tasks_by_owner', {'username': task.user.username} ) }}">{{ task.user.username }}</a>
                    <i class="fa fa-tags"></i>
                    {% for category in task.categories %}
                        <a href="{{ path( 'app_tasks_by_category', {'slug': category.slug} ) }}">{{ category.title }}</a>
                    {% endfor %}
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="#" class="pull-right">Read more »</a>
                </div>
            </div>
        </div>
    </div>
</article>
