{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'tasks.create.title'|trans({}, 'tasks') }}{% endblock %}

{% block main_header %}
    <header class="main-header">
        <div class="container">
            <h3 class="page-title">{{ 'tasks.create.title'|trans({}, 'tasks') }}</h3>
        </div>
    </header>
{% endblock main_header %}

{% block body %}
    <div class="container">
        <section>
            <form action="{{ path('api_tasks_create') }}" {{ form_enctype(form) }} method="POST" role="form"
                  novalidate="novalidate" id="task-form" autocomplete="off" class="dropzone dropzone-no-error">
                {{ form_widget(form._token) }}

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label required" for="app_task_form_title">{{ 'tasks.form.title'|trans({}, 'tasks') }}</label>
                            <input type="text" required="required" class="form-control"
                                   id="app_task_form_title" name="app_task_form[title]"
                                   data-bind="value: title">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label required" for="app_task_form_description">{{ 'tasks.form.description'|trans({}, 'tasks') }}</label>
                            <textarea required="required" class="form-control" rows="8"
                                      id="app_task_form_description" name="app_task_form[description]"
                                      data-bind="value: description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label required" for="app_task_form_budget">{{ 'tasks.form.budget'|trans({}, 'tasks') }}</label>
                            <input type="number" required="required" class="form-control"
                                   id="app_task_form_budget" name="app_task_form[budget]"
                                   data-bind="value: budget">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label required" for="app_task_form_currency">{{ 'tasks.form.currency'|trans({}, 'tasks') }}</label>
                            <select id="app_task_form_currency" name="app_task_form[currency]" class="form-control"
                                    data-bind="options: currenciesList,
                                               optionsText: 'name',
                                               optionsValue: 'code',
                                               value: currency">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" id="app_task_form_country" name="app_task_form[country]">
                            <input type="hidden" id="app_task_form_region" name="app_task_form[region]">

                            <label class="control-label required" for="app_task_form_city">{{ 'tasks.form.location'|trans({}, 'tasks') }}</label>
                            <select id="app_task_form_city" name="app_task_form[city]"
                                    required="required" class="form-control city">
                                <option value="">{{ 'tasks.form.chose_location'|trans({}, 'tasks') }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5 class="right-line">
                        <span class="required">{{ 'tasks.form.categories'|trans({}, 'tasks') }}</span>
                        <small>({{ 'tasks.text.count_categories'|trans({'%count%': '<span data-bind="text: maxSelected"></span>'}, 'tasks')|raw }})</small>
                    </h5>
                    <!-- ko foreach: categoriesList -->
                    <div class="col-md-12">
                        <div class="panel-group" data-bind="attr: {id: 'accordion' + $data.title }">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-heading-link">
                                    <a data-toggle="collapse" data-parent="#categories-accordion" aria-expanded="false" class="collapsed"
                                       data-bind="attr: { 'data-parent': '#accordion-' + $data.title, href: '#collapse-' + $data.title }">
                                        <span data-bind="text: $data.titleLabel"></span>
                                        <small>({{ 'tasks.text.selected'|trans({}, 'tasks') }}: <span data-bind="text: $data.selected"></span>)</small>
                                    </a>
                                </div>
                                <div aria-expanded="false" style="height: 0;" class="panel-collapse collapse"
                                     data-bind="attr: {id: 'collapse-' + $data.title }">
                                    <div class="panel-body">
                                        <!-- ko foreach: $data.__children -->
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="app_task_form[categories][]"
                                                   data-bind="checked: $data.checked,
                                                            value: $data.id,
                                                            disable: $root.selectedMaxCount() & !$data.checked()
                                                            attr: { id: 'app_task_form_categories_' + $data.id }" />
                                            <span data-bind="text: $data.titleLabel"></span>
                                        </label>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /ko -->
                </div>

                <h5 class="right-line">{{ 'tasks.form.files'|trans({}, 'tasks') }}</h5>
                <div class="row ">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 well dropzone-previews" id="previews">
                        <div class="dz-default dz-message"><span>{{ 'tasks.text.drop_files'|trans({}, 'tasks') }}</span></div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div>
                    <button type="submit" value="{{ 'form.button.save'|trans }}" class="btn btn-ar btn-primary">{{ 'form.button.save'|trans }}</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/task-create.js') }}"></script>
{% endblock %}