{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'tasks.title'|trans({}, 'tasks') }}{% endblock %}

{% block main_header %}
    <header class="main-header">
        <div class="container">
            <h3 class="page-title">{{ 'tasks.title'|trans({}, 'tasks') }}</h3>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Pages</a></li>
                <li><a href="#">Error</a></li>
                <li class="active">Error 500 Integrated</li>
            </ol>
        </div>
    </header>
{% endblock main_header %}

{% block body %}
    <div class="container">
        {% for task in pager.currentPageResults %}
            {% include 'AppBundle:Tasks:_short_item.html.twig' with {'tasl': task} %}
        {% endfor %}

        {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {'css_container_class': 'pagination pagination-border'}) }}
    </div>
{% endblock %}