{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'tasks.title'|trans({}, 'tasks') }}: {{ task.title }}{% endblock %}

{% block main_header %}
    <header class="main-header">
        <div class="container">
            <h3 class="page-title">{{ 'tasks.title'|trans({}, 'tasks') }}: {{ task.title }}</h3>
        </div>
    </header>
{% endblock main_header %}

{% block body %}
    <div class="container">
        {% include 'AppBundle:Tasks:_short_item.html.twig' with {'task': task} %}
    </div>
{% endblock %}