.header-full {
    .dropdown-search-box {
        overflow: hidden;
        padding: 10px;
        min-width: 600px;
        box-shadow: none;
    }

    .top-nav {
        float: right;
        position: inherit;
    }
}

.results-container {
    position: relative;
    width: 100%;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1001;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;

    .ui-menu-item {
        display: block;
        padding: 5px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: normal;
        border-bottom: 1px solid #ddd;

        &.ui-state-hover, &.ui-state-active, &.ui-state-focus {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            cursor: pointer;
        }
    }
}