.task-short-item {
    .panel-body {
        padding: 5px 15px;

        .post-title {
            font-size: 1.2em;
            padding-bottom: 5px;
            margin: 0;

            small, .budget {
                font-size: 0.9em;
            }
            .budget {
                font-weight: bold;
            }
        }
        .content {
            margin: 10px 0;

            .post-content {
                font-size: 0.9em;
            }
            .images {
                img {
                    width: 76px;
                    height: 76px;
                    margin-left: 5px;
                }
            }
        }
    }
    .panel-footer {
        padding: 2px 10px;
        font-size: 0.9em;

        .task-label {
            font-weight: bold;
            margin-right: 5px;
        }
    }
}