.top-nav-social {
    margin-left: -2px;

    a.google:hover {
        background-color: #dd4b39;
        color: #fff
    }

    a.yandex:hover {
        background-color: #fff;
        color: #dd4b39;
    }

    a.vk:hover {
        background-color: #517fa4;
        color: #fff
    }
}

.social-icon-ar {
    &.google {
        background-color: #dd4b39;
        background-image: -webkit-linear-gradient(bottom, #dd4b39, #e47365);
        background-image: -moz-linear-gradient(bottom, #dd4b39, #e47365);
        background-image: -o-linear-gradient(bottom, #dd4b39, #e47365);
        background-image: linear-gradient(to top, #dd4b39, #e47365)
    }

    &.yandex {
        color: #dd4b39;
        background-color: #fefefe;
        background-image: -webkit-linear-gradient(bottom, #eeeeee, #fafafa);
        background-image: -moz-linear-gradient(bottom, #eeeeee, #fafafa);
        background-image: -o-linear-gradient(bottom, #eeeeee, #fafafa);
        background-image: linear-gradient(to top, #eeeeee, #fafafa)
    }

    &.vk {
        background-color: #517fa4;
        background-image: -webkit-linear-gradient(bottom, #517fa4, #7098b8);
        background-image: -moz-linear-gradient(bottom, #517fa4, #7098b8);
        background-image: -o-linear-gradient(bottom, #517fa4, #7098b8);
        background-image: linear-gradient(to top, #517fa4, #7098b8)
    }
}

/**** Main header ****/
.main-header {
    padding: 10px 0;
    margin-bottom: 0;

    .page-title {
        font-size: 1.6em;
    }
}

.pagination-border {
    & > li.disabled, & > li.disabled:hover {
        & > span {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
        }
    }
}

