@import "fa_override";
@import "theme_override";
@import "header";
@import "task_item";

.navbar-nav {
    & > li {
        & > a {
            .social {
                padding-top: 13px;
                padding-bottom: 0;
                padding-left: 2px;
            }

            & > i {
                margin-right: 5px;
            }
        }
    }
}

.main-container {
    margin-top: 65px;
}


/**** Margin ****/
.margin-bottom-10 {
    margin-bottom: 10px;
}

/**** Forms ****/
.control-label.required:after, span.required:after {
    content:"*";
    color: #c9302c;
}
.control-label.error {
    font-weight: normal;
}

.form-group.has-error .glyphicon {
    margin-right: 5px;
}

/*******************************
             Global loader
*******************************/
.place-text {
    position: fixed;
    white-space: nowrap;
    z-index: 10001;
    top: 0;
    left: 50%;
    height: 30px;
    width: 100px;
    margin-left: -50px;
    display: none;
    background-color: #0099DA;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

    &.top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
    }
}

/**** Profile ****/
.profile-img {
    width: 360px;
    height: 360px;
}

#header-full {
    background-image: url("../images/2_unsplash_com.jpg");
}

.header-full {
    .blockquote-color-bg-light {
        opacity: 0.7;
    }

    a {
        text-decoration: none;
    }
}

/**** Dropzone ****/
.dropzone {
    border: none;

    .dz-preview.dz-image-preview {
        background: transparent;
    }
}
.dropzone-previews {
    cursor: pointer;
}
.dropzone-no-error.dropzone .dz-preview.dz-error .dz-error-message {
    display: none;
}