.fa-yandex:before {
  content: "\f23d"; }

.fa-yandex-square:before {
  content: "\f23e"; }

.top-nav-social {
  margin-left: -2px; }
  .top-nav-social a.google:hover {
    background-color: #dd4b39;
    color: #fff; }
  .top-nav-social a.yandex:hover {
    background-color: #fff;
    color: #dd4b39; }
  .top-nav-social a.vk:hover {
    background-color: #517fa4;
    color: #fff; }

.social-icon-ar.google {
  background-color: #dd4b39;
  background-image: -webkit-linear-gradient(bottom, #dd4b39, #e47365);
  background-image: -moz-linear-gradient(bottom, #dd4b39, #e47365);
  background-image: -o-linear-gradient(bottom, #dd4b39, #e47365);
  background-image: linear-gradient(to top, #dd4b39, #e47365); }
.social-icon-ar.yandex {
  color: #dd4b39;
  background-color: #fefefe;
  background-image: -webkit-linear-gradient(bottom, #eeeeee, #fafafa);
  background-image: -moz-linear-gradient(bottom, #eeeeee, #fafafa);
  background-image: -o-linear-gradient(bottom, #eeeeee, #fafafa);
  background-image: linear-gradient(to top, #eeeeee, #fafafa); }
.social-icon-ar.vk {
  background-color: #517fa4;
  background-image: -webkit-linear-gradient(bottom, #517fa4, #7098b8);
  background-image: -moz-linear-gradient(bottom, #517fa4, #7098b8);
  background-image: -o-linear-gradient(bottom, #517fa4, #7098b8);
  background-image: linear-gradient(to top, #517fa4, #7098b8); }

/**** Main header ****/
.main-header {
  padding: 10px 0;
  margin-bottom: 0; }
  .main-header .page-title {
    font-size: 1.6em; }

.navbar-nav > li > a .social {
  padding-top: 13px;
  padding-bottom: 0;
  padding-left: 2px; }
.navbar-nav > li > a > i {
  margin-right: 5px; }

.main-container {
  margin-top: 65px; }

/**** Margin ****/
.margin-bottom-10 {
  margin-bottom: 10px; }

/**** Forms ****/
.control-label.required:after, span.required:after {
  content: "*";
  color: #c9302c; }

.control-label.error {
  font-weight: normal; }

.form-group.has-error .glyphicon {
  margin-right: 5px; }

/*******************************
             Global loader
*******************************/
.place-text {
  position: fixed;
  white-space: nowrap;
  z-index: 10001;
  top: 0;
  left: 50%;
  height: 30px;
  width: 100px;
  margin-left: -50px;
  display: none;
  background-color: #0099DA;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px; }
  .place-text.top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0; }

/**** Profile ****/
.profile-img {
  width: 360px;
  height: 360px; }

#header-full {
  background-image: url("../images/2_unsplash_com.jpg"); }

.header-full .blockquote-color-bg-light {
  opacity: 0.7; }
.header-full a {
  text-decoration: none; }

/**** Dropzone ****/
.dropzone {
  border: none; }
  .dropzone .dz-preview.dz-image-preview {
    background: transparent; }

.dropzone-previews {
  cursor: pointer; }

.dropzone-no-error.dropzone .dz-preview.dz-error .dz-error-message {
  display: none; }

/*# sourceMappingURL=style.css.map */
