{% extends 'AppBundle::base_main.html.twig' %}

{% block body %}
    <header id="header-full" class="header-full">
        <div class="wrap-primary">
            <div class="container">
                <h1 class="head-title animated bounceInDown animation-delay-8">{{ 'app.name'|trans }}</h1>
                {#<h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">Твой путь в светлое будущее</h2>#}
                <p class="lead text-center animated fadeInUp animation-delay-14">
                    {{ 'home.your_success'|trans({}, 'pages') }}<br>
                    {{ 'home.we_can_help'|trans({}, 'pages') }}
                </p>
                <div class="margin-top">
                    <blockquote class="blockquote-color-bg-light">
                        <p>{{ 'home.cite'|trans({}, 'pages') }}</p>
                        <footer>{{ 'home.elon_mask'|trans({}, 'pages') }}, <cite title="Source Title">{{ 'home.tesla_motors'|trans({}, 'pages') }}</cite></footer>
                    </blockquote>
                </div>
                <div class="row header-full-icons text-center">
                    <div class="col-sm-4 animated fadeInDown animation-delay-19">
                        <a href="{{ path('app_tasks') }}" title="{{ 'home.tasks_help'|trans({}, 'pages') }}">
                            <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-search"></i></span>
                        </a>
                        <a href="{{ path('app_tasks') }}" title="{{ 'home.tasks_help'|trans({}, 'pages') }}">
                            <h3>{{ 'home.tasks'|trans({}, 'pages') }}</h3>
                        </a>
                        <p class="text-center">{{ 'home.tasks_help'|trans({}, 'pages') }}</p>
                    </div>
                    <div class="col-sm-4 animated fadeInDown animation-delay-21">
                        <a href="{{ path('app_freelancers') }}" title="{{ 'home.freelancers_help'|trans({}, 'pages') }}">
                            <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-users"></i></span>
                        </a>
                        <a href="{{ path('app_freelancers') }}" title="{{ 'home.freelancers_help'|trans({}, 'pages') }}">
                            <h3>{{ 'home.freelancers'|trans({}, 'pages') }}</h3>
                        </a>
                        <p class="text-center">{{ 'home.freelancers_help'|trans({}, 'pages') }}</p>
                    </div>
                    <div class="col-sm-4 animated fadeInDown animation-delay-22">
                        <a href="{{ path('app_about_us') }}" title="{{ 'home.info_help'|trans({}, 'pages') }}">
                            <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-info"></i></span>
                        </a>
                        <a href="{{ path('app_about_us') }}" title="{{ 'home.info_help'|trans({}, 'pages') }}">
                            <h3>{{ 'home.info'|trans({}, 'pages') }}</h3>
                        </a>
                        <p class="text-center">{{ 'home.info_help'|trans({}, 'pages') }}</p>
                    </div>
                    {#<div class="col-sm-3 animated fadeInDown animation-delay-20">#}
                        {#<span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-desktop"></i></span>#}
                        {#<h3>Responsive</h3>#}
                        {#<p class="text-center">Eius culpa eligendi autem odio nisi dignissimos sapiente.</p>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </header>
{% endblock %}
